.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.activity {
  text-align: center;
}

.activity img {
  max-width: 100%;
  height: auto;
}

.activity-button {
  margin: 10px;
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.activity-button:nth-child(1) {
  background-color: green;
  color: white;
}

.activity-button:nth-child(2) {
  background-color: red;
  color: white;
}

.activity-button:nth-child(3) {
  background-color: rgb(233, 233, 101);
  color: black;
}
